.trip_box .trip_img_box{
    width: 100%;
    height: 30vh;
    background-size: 100% 30vh;
}
.trip_box .trip_info_box{
    margin: 0 10px;
    text-align: center;
}
.trip_box .trip_info_box > p{
    font-size: 25px;
    font-weight: 550;
    padding: 10px 0;
}
.trip_box .trip_info_box .trip_link{
    display: inline-block;
    margin: 10px 5px;
    background-color: #168BF2;
    width: 5vw;
    height: 5vh;
    border-radius: 3em;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.trip_box .trip_info_box .trip_link:hover{
    background-color: #167dd6;
}
.trip_box .trip_info_box .trip_link a{
    font-size: 22px;
    text-decoration: none;
    line-height: 5vh;
    color: white;
}
.trip_box .trip_info_box .trip_info li{

    list-style-type: none;
    border-top: solid 1px lightgray;
    padding: 10px 30px;
    margin-bottom: 5px;
    
}